.order{
	position: absolute;
	right: 10%;
   overflow: hidden;
   width: 80%;
	height: 90%;
	bottom: -70%;
	line-height: 20px;
   color: white;
   font-size: 25;
   font-family: sans-serif;
    z-index: 0;
	box-sizing: border-box;
	border: 5px solid black;

}
.order input{
	width: 80%;

}
select{
	width: 80%;
}