.socialbar {
	position: absolute;
	top: 20%;
	color:white;
	z-index: 1;
}
.socialbar ul {
	list-style-type: none;
	padding: 0;
	transform: translateX(-250px);
}
.socialbar ul li{
	display: block;
	margin: 5px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: right;
	width: 340px;
	transition: all 1s;
	border-radius:0 50px 50px 0;
}
.socialbar li:hover{
	transform:translateX(100px);
}
.socialbar ul li.Twitter:hover{
	background-color: aqua;
}
.socialbar ul li.Facebook:hover{
	background-color: blue;
}
.socialbar ul li.Instagram:hover{
	background-color: purple;
}
.socialbar ul li.Google:hover{
	background-color: red;
}
.socialbar ul li a{
	font-size: 13px;
	color: white;
	text-decoration: none;
}